<main class="container" style="width: 40%;">
    <form action="/diaristas" method="post">
        <div>
            <label class="form-label" for="nome">Nome: </label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do(a) diarista">
        </div>
        <div class="my-3">
            <label class="form-label" for="nome">Endereço: </label>
            <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço completo">
        </div>
        <div>
            <label class="form-label" for="nome">Idade: </label>
            <input type="number" class="form-control" id="idade" name="idade" placeholder="Idade do(a) diarista">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Cadastrar</button>
    </form>
</main>
